<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Crime Portal</title>

<!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<!-- icon -->
    <script src="https://kit.fontawesome.com/c5bfbf9daf.js" crossorigin="anonymous"></script>
    <!-- buttons css -->
    <link rel="stylesheet" href="css/bootstrap-social.css">
     <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@800&display=swap" rel="stylesheet">
    <!-- <link rel="icon" href="favicon.png"> -->

<style>
html,body{
  background-size: cover;
  background-position: center;
  font-family: 'Shippori Mincho', serif;
  width: 100%;
  height: 100%;
}
.nav-item{
   padding: 0 20px;
   font-size: 20px;
}
.welcome-text{
  font-size: 30px;
  color: #fff;
}
.complain-text{
  font-size: 50px;
  color: #fff;
}
.row{
  padding: 9% 0;
}
.fa-5x{
  color: #ef8d32;
  padding: 20px 10px;
}
.aboutUs{
  padding: 0px 30px;
}
#about_us{
  padding: 5% 3%;
  background-color: #ef8d32;
}
#login{
  text-align: center;
  padding: 8% 5%;
}
.btn{
  padding: 10px 40px;
}
#footer{
  text-align: center;
  padding: 3% 15%;
  background-color: #c7cfb7;
}

.lst-icn{
  padding: 0px 10px;
}
.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}
